<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- Database connection settings --> 
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
		<property name="connection.url">jdbc:mysql://postgresql://dpg-cq7g7i3v2p9s73c46il0-a/prioritbooksdb</property> 
		<property name="connection.username">root</property> 
		<property name="connection.password">za21h95IVlxQNqVPNU4JSZDdgc22POuB</property>
		
<!--	
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
		<property name="connection.url">jdbc:mysql://localhost:3306/bookdb</property> 
		<property name="connection.username">root</property> 
		<property name="connection.password">root</property> 
-->
		
		<mapping class="PriorIT.sb_books_mvc.model.Book" />
			
	
	</session-factory>
</hibernate-configuration>