@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
table {
  	border-collapse: collapse;
 	width: 100%;
}

th, td {
  	padding: 8px;
  	text-align: left;
  	border-bottom: 1px solid #DDD;
}

th{
	font-size: 18px;
	font-family: 'Saira Semi Condensed', sans-serif;
	letter-spacing: 1px;
}

.hoverTr:hover {
	background-color: #fff;
	color:#a6233b;
}

body{
 	background-color: #3c3c3b;
 	color:aliceblue;
 	font-family: "Courier New", Courier, monospace;
}

h2{
	font-size: 33px;
	font-family: 'Saira Semi Condensed', sans-serif;
	letter-spacing: 8px;
	margin: 0px;
 	padding: 0px;
}

h3{
	letter-spacing: 1px;
}

.bookreg{
    width: 100%;
    text-align: center;
 	margin-top: 0px;
 	padding-top: 0px;
}

.sortingtable{
	width: 8%;
	text-align: right;
}

.sortingTableTr, .sortingTableTd{
	border-style: none;
	
}

.sortingTh{
	border-style: none;
	margin-left: 87%;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
}

.h2regd{
	margin-bottom: 0px;
}

.secondrow{
    width:100%;
}

.form{
	width: 100%;
	
}

.fields{
	width: 20%;
	margin: auto;
}

.table, .h2regd{
    width:100%;  
    
}

.errorMessage{
	color:#a6233b;
	font-size: 17px;
}

input {
    background-color: #fff;
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    
}

#submit {
    background-color:#a6233b;
    color:#fff;
    width: 180px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
}

#submit:hover {
    background-color: #fff;
    color: #a6233b;

}

.resetSorting{
	background-color: #3c3c3b;
    color:#fff;
    width: 100%;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Saira Semi Condensed', sans-serif;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    cursor: pointer;
    letter-spacing: 1px;
}
